ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 20pt;
    color: black;
    padding: 10px;
}

.fa-github:hover{
  color: crimson;
}

.fa-linkedin-square:hover{
    color: darkblue;
}

.fa-instagram:hover{
    color: blueviolet;
}